include README.md
include NOTES.md
recursive-include skijack/corpus *.ski
recursive-include skijack/selfhost *.ski
recursive-include tests *.py
include tests/artifact/README.md
include tests/artifact/LICENSE
